IO_LOC "sw_a[0]" 73;
IO_PORT "sw_a[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_a[1]" 74;
IO_PORT "sw_a[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_a[2]" 75;
IO_PORT "sw_a[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_a[3]" 85;
IO_PORT "sw_a[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "sw_b[0]" 77;
IO_PORT "sw_b[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_b[1]" 76;
IO_PORT "sw_b[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_b[2]" 49;
IO_PORT "sw_b[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_b[3]" 86;
IO_PORT "sw_b[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "sw_op[0]" 25;
IO_PORT "sw_op[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_op[1]" 26;
IO_PORT "sw_op[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_op[2]" 29;
IO_PORT "sw_op[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_op[3]" 30;
IO_PORT "sw_op[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_op[4]" 31;
IO_PORT "sw_op[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
IO_LOC "sw_op[5]" 52;
IO_PORT "sw_op[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC "led_res[0]" 53;
IO_PORT "led_res[0]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led_res[1]" 71;
IO_PORT "led_res[1]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led_res[2]" 72;
IO_PORT "led_res[2]" IO_TYPE=LVCMOS33 DRIVE=8;
IO_LOC "led_res[3]" 54;
IO_PORT "led_res[3]" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led_zero" 55;
IO_PORT "led_zero" IO_TYPE=LVCMOS33 DRIVE=8;
